<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a routerLink="/admin/admin-dashboard"><img src="assets/images/BS_Logo.png" width="50" alt="BugTracking"><span
                class="m-l-10">BugTracking</span></a>
    </div>
    <div class="menu">
        <div class="slimScrollDiv"
            style="position: relative; overflow: hidden; width: auto; height: calc(100vh - 65px);">
            <ul class="list" style="overflow: hidden; width: auto; height: calc(100vh - 65px);">
                <li>
                    <div class="user-info">
                        <a class="image waves-effect waves-block"><img src="./assets/images/profile_av.jpg"></a>
                        <div class="detail">
                            <h4>&nbsp;&nbsp;{{firstName}}</h4>
                            <small>Admin</small>
                        </div>
                    </div>
                </li>
                <li class="open"><a routerLink="/admin/admin-dashboard" class="toggled waves-effect waves-block"><i
                            class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
                <li><a class="menu-toggle waves-effect waves-block"><i class="zmdi zmdi-apps"></i><span>Roles</span></a>
                    <ul class="ml-menu">
                        <li><a routerLink="/admin/addrole" class=" waves-effect waves-block">Add Role</a></li>
                        <li><a routerLink="/admin/listrole" class=" waves-effect waves-block">Role List</a></li>
                    </ul>
                </li>
                <li> <a class="menu-toggle waves-effect waves-block"><i
                            class="zmdi zmdi-hc-fw"></i><span>Projects</span></a>
                    <ul class="ml-menu">
                        <li><a routerLink="/admin/addproject" class=" waves-effect waves-block">Add Project</a></li>
                        <li><a routerLink="/admin/listproject" class=" waves-effect waves-block">Projects List</a></li>
                        <li><a routerLink="/admin/pending-project" class=" waves-effect waves-block">Pending
                                Projects</a></li>
                        <li><a routerLink="/admin/competed-project" class=" waves-effect waves-block">Completed
                                Projects</a></li>
                    </ul>
                </li>
                <li> <a class="menu-toggle waves-effect waves-block"><i class="zmdi zmdi-hc-fw"></i><span>Project
                            Teams</span></a>
                    <ul class="ml-menu">
                        <li><a routerLink="/admin/add-projectTeam" class=" waves-effect waves-block">Add Projects
                                Team</a></li>
                        <li><a routerLink="/admin/list-projectTeam" class=" waves-effect waves-block">List Projects
                                Team</a></li>
                    </ul>
                </li>

                <li> <a class="menu-toggle waves-effect waves-block"><i
                            class="zmdi zmdi-hc-fw"></i><span>Modules</span></a>
                    <ul class="ml-menu">
                        <li><a routerLink="/admin/add-module" class=" waves-effect waves-block">Add Modules</a></li>
                        <li><a routerLink="/admin/list-module" class=" waves-effect waves-block">Modules List</a></li>
                    </ul>
                </li>
                <li> <a class="menu-toggle waves-effect waves-block"><i
                            class="zmdi zmdi-assignment"></i><span>Task</span></a>
                    <ul class="ml-menu">
                        <li><a routerLink="/admin/add-task" class=" waves-effect waves-block">Add Task</a></li>
                        <li><a routerLink="/admin/list-task" class=" waves-effect waves-block">Task List</a></li>
                    </ul>
                </li>

                <li><a class="menu-toggle waves-effect waves-block"><i class="zmdi zmdi-hc-fw"></i><span>Users</span></a>
                    <ul class="ml-menu">

                        <li><a routerLink="/admin/adduser" class=" waves-effect waves-block">Add User</a></li>
                        <li><a routerLink="/admin/listuser" class=" waves-effect waves-block">User List</a></li>
                        <li><a routerLink="/admin/pending-approval" class=" waves-effect waves-block">Pending
                                Approval</a>
                        </li>

                    </ul>
                </li>
                <li><a class="menu-toggle waves-effect waves-block "><i class="zmdi zmdi-hc-fw"></i><span>Reports</span></a>
                    <ul class="ml-menu">

                        <li><a routerLink="/admin/user-report" class=" waves-effect waves-block">User Reports</a></li>
                        <li><a routerLink="/admin/project-report" class=" waves-effect waves-block">Project Reports</a></li>
                        <li><a routerLink="/admin/pending-approval" class=" waves-effect waves-block">Task Reports</a>
                        <li><a routerLink="/admin/pending-approval" class=" waves-effect waves-block">Task Reports |
                                User Wise</a>
                        <li><a routerLink="/admin/pending-approval" class=" waves-effect waves-block">BUgs Reports</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <div class="slimScrollBar"
                style="background: rgb(238, 238, 238); width: 1px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 3px; z-index: 99; right: 1px; height: 356.89px;">
            </div>
            <div class="slimScrollRail"
                style="width: 1px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;">
            </div>
        </div>
    </div>
</aside>