<div class="authentication">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="card auth_form">
                    <div class="header">
                        <img class="logo" src="./assets/images/BS_Logo.png" alt="BugTrackingSystem"
                            title="BugTrackingSystem">
                        <h3>Log in</h3>
                    </div>
                    <div class="body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" [(ngModel)]="email" placeholder="Email">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password"
                                required>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
                            </div>
                        </div>
                        <div class="checkbox">
                            <div class="input-group-append">
                                &nbsp;&nbsp;<span class=""><a routerLink="/forgotpassword" class="forgot"
                                        title="Forgot Password"><i class="zmdi zmdi-lock">&nbsp;&nbsp;Forgot
                                            Password?</i></a></span>
                            </div>
                        </div>
                        <button type="button" (click)="login()"
                            class="btn btn-primary btn-block waves-effect waves-light">SIGN IN</button>
                        <br><br>
                        <div class="checkbox">
                            <div class="input-group-append">
                                &nbsp;&nbsp;<span class=""><a class="forgot" title="SignUP">&nbsp;&nbsp;Not a User? | <a
                                                routerLink="/signup" class="forgot" title="SignUP">Signup
                                                Here</a></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright text-center">
                    ©
                    <script>document.write(new Date().getFullYear())</script>2022,
                    <span><a>BugTrackingSystem</a></span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <img src="assets/images/signin.svg" alt="Sign In">
                </div>
            </div>
        </div>
    </div>
</div>