<div class="authentication">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="card auth_form">
                    <div class="header">
                        <img class="logo" src="./assets/images/BS_Logo.png" alt="">
                        <h5>Forgot Password?</h5>
                        <span>Enter your e-mail address below to reset your password.</span>
                    </div>
                    <div class="body">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" [(ngModel)]="email" placeholder="Enter Email">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-email"></i></span>
                            </div>
                        </div>
                        <button type="button" (click)="forgotpassword()" class="btn btn-primary btn-block waves-effect waves-light">Submit Email</button>
                        <br><br>
                        <div class="input-group-append">
                            &nbsp;&nbsp;<span class=""><a routerLink="/login" class="forgot"
                                    title="Login"><i class="zmdi zmdi-lock">&nbsp;&nbsp;Login
                                        Here...</i></a></span>
                        </div>
                    </div>
                </div>
                <div class="copyright text-center">
                    ©
                    <script>document.write(new Date().getFullYear())</script>2022,
                    <span><a>BugTrackingSystem</a></span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <img src="./assets/images/signin.svg" alt="Forgot Password">
                </div>
            </div>
        </div>
    </div>
</div>