<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Submit Task</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard"><i
                                    class="zmdi zmdi-home"></i>Home</a></li>
                        <li class="breadcrumb-item active">Submit Task</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                            class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="form-horizontal">
                            <div class="row clearfix">

                                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                                    <label for="email_address_2">Project</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8">
                                    <div class="form-group">
                                        <input type="text" [(ngModel)]="projectTitle" class="form-control" readonly>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                                    <label for="email_address_2">Module</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8">
                                    <div class="form-group">
                                        <input type="text" [(ngModel)]="moduleName" class="form-control" readonly>
                                    </div>
                                </div>


                                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                                    <label for="email_address_2">Task</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8">
                                    <div class="form-group">
                                        <input type="text" [(ngModel)]="TaskName" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                                    <label for="email_address_2">Completion Time</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8">
                                    <div class="form-group">
                                        <input type="text" [(ngModel)]="time" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                                    <label for="email_address_2">Tester Name</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8">
                                    <div class="form-group">
                                        <select [(ngModel)]="testerId" class="form-control">
                                            <option *ngFor="let t of tester" value="{{t.projectTeamMember._id}}"> {{t.projectTeamMember.firstName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <button type="button" (click)="submitTask()"
                                    class="btn btn-raised btn-primary btn-round waves-effect">Submit Task</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>