<div class="page-loader-wrapper" style="display: none;">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="./assets/images/BS_Logo.png.svg" width="48" height="48"
                alt="Aero"></div>
        <p>Please wait...</p>
    </div>
</div>
<div class="overlay"></div>
<div id="search">
    <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
    <form>
        <input type="search" value="" placeholder="Search...">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<section class="content">
    <div class="">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Dashboard</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/admin/admin-dashboard"><i
                                    class="zmdi zmdi-home"></i> BugTrackingSystem</a></li>
                        <li class="breadcrumb-item active">Admin - Dashboard</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                            class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i
                            class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card w_data_1">
                        <div class="body">
                            <div class="w_icon indigo"><i class="zmdi zmdi-settings"></i></div>
                            <h4 class="mt-3"><a routerLink="/admin/listuser">{{users}}</a></h4>
                            <span class="text-muted">Total Users</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card w_data_1">
                        <div class="body">
                            <div class="w_icon orange"><i class="zmdi zmdi-shopping-cart"></i></div>
                            <h4 class="mt-3"><a routerLink="/admin/listproject">{{projects}}</a></h4>
                            <span class="text-muted">Total Projects</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card w_data_1">
                        <div class="body">
                            <div class="w_icon blue"><i class="zmdi zmdi-dns"></i></div>
                            <h4 class="mt-3"><a routerLink="/admin/list-module">{{modules}}</a></h4>
                            <span class="text-muted">Total Modules</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card w_data_1">
                        <div class="body">
                            <div class="w_icon dark"><i class="zmdi zmdi-card"></i></div>
                            <h4 class="mt-3"><a routerLink="/admin/list-task">{{tasks}}</a></h4>
                            <span class="text-muted">Total Tasks</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card w_data_1">
                        <div class="body">
                            <div class="w_icon cyan"><i class="zmdi zmdi-ticket-star"></i></div>
                            <h4 class="mt-3"><a routerLink="/admin/bugFound">{{bugFound}}</a></h4>
                            <span class="text-muted">Bug Founded</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card w_data_1">
                        <div class="body">
                            <div class="w_icon pink"><i class="zmdi zmdi-bug"></i></div>
                            <h4 class="mt-3"><a routerLink="/admin/pending-project">{{fixedBugs}}</a></h4>
                            <span class="text-muted">Fixed Bugs / No Bugs</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card w_data_1">
                        <div class="body">
                            <div class="w_icon green"><i class="zmdi zmdi-headset-mic"></i></div>
                            <h4 class="mt-3"><a routerLink="/admin/pending-project">{{pendingProject}}</a></h4>
                            <span class="text-muted">Pending Projects</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card w_data_1">
                        <div class="body">
                            <div class="w_icon blush"><i class="zmdi zmdi-headset-mic"></i></div>
                            <h4 class="mt-3"><a routerLink="/admin/competed-project">{{completedProject}}</a></h4>
                            <span class="text-muted">Completed Projects</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="jvectormap-tip"></div>